{% extends 'base.html' %}

{% block content %}
<h2>Estadísticas de Jugadores</h2>
<a href="{% url 'crear_estadistica' %}" class="btn btn-primary">Agregar Estadística</a>
<table class="table">
    <thead>
        <tr>
            <th>Jugador</th>
            <th>Partido</th>
            <th>Goles</th>
            <th>Asistencias</th>
            <th>Tarjetas Amarillas</th>
            <th>Tarjetas Rojas</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for estadistica in estadisticas %}
        <tr>
            <td>{{ estadistica.jugador }}</td>
            <td>{{ estadistica.partido }}</td>
            <td>{{ estadistica.goles }}</td>
            <td>{{ estadistica.asistencias }}</td>
            <td>{{ estadistica.tarjetas_amarillas }}</td>
            <td>{{ estadistica.tarjetas_rojas }}</td>
            <td>
                <a href="{% url 'editar_estadistica' estadistica.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'eliminar_estadistica' estadistica.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'vista_futbolista' %}">
    <button>Volver</button>
</a>
{% endblock %}
